<div class="chat-container">
  <h1>Chat with Experts</h1>
  
  <div class="experts-list">
    <h2>Available Experts</h2>
    <% @available_experts.each do |expert| %>
      <div class="expert-item">
        <%= expert.name %>
        <%= form_with(model: ChatRoom.new, local: true) do |f| %>
          <%= f.hidden_field :expert_id, value: expert.id %>
          <%= f.submit "Start Chat", class: "chat-button" %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="active-chats">
    <h2>Active Conversations</h2>
    <% @chat_rooms.each do |room| %>
      <%= link_to chat_room_path(room), class: "chat-room-link" do %>
        <div class="chat-room-item">
          Chat with <%= room.expert.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>