<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Moneymap" %></title>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="csrf-token" content="<%= form_authenticity_token %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= yield :head %>
    
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

  

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto  px-5 flex">
    
  <% if flash[:alert] %>
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
      <span class="block sm:inline"><%= flash[:alert] %></span>
    </div>
      <%= turbo_frame_tag "notifications" %> 
  <% end %>
  <%= yield %>
    </main>
  </body>
</html>
